/* Class to add blur effect */



.navbar-brand {
    font-weight: 500;   
    transition: all 0.5s;
    font-size: 1.5rem;
    color: white;
    margin-left: 5px;
}

.navbar-brand:hover{
    text-shadow: 1px 1px 10px white;
    color: white;
}

.nav-item{
    justify-content: center;
    display: flex;
    padding-block: 5px;
}

.nav-link{
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    padding-block: 10px;
    font-size: 1.1rem;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link:not(.special-btn):hover{
    text-shadow: 1px 1px 10px white;
    color: white;
}



.header {
    position: fixed;
    top: 10px;
    width: 100%;
    transition: top 0.3s, backdrop-filter 0.3s, background-color 0.3s;
    z-index: 1030; /* Ensure the header is above other conboboxxtent */
   

}

.header .container{
    max-width: 1000px;

    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    background-color: #000000;
}



.header-logo{
    transition: all 0.5s;
    height: 50px;
     padding-right: 10px;
   
}

.header-logo:hover{
    animation: rotate 3s ease-in-out ;
}

@keyframes rotated {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
    }
  }

.special-btn{


    border-radius: 50px;
    background-color: #ffffff;
    color: rgb(47, 44, 44);
    
}

.special-btn:hover{
    box-shadow: 1px 1px 50px white;
}


@media screen and (max-width:480px) {
    .navbar-brand {
      
        margin-left: 30px;
    }

    .header {

        z-index: 100000; /* Ensure the header is above other conboboxxtent */
       
    
    }
}