
.animation {
    opacity: 0;

    transition: all 0.3s ease-out;
    transition-delay: 0.1s;
   

}

.animation2 {
    opacity: 0;

    transition: all 0.3s ease-out;
    transition-delay: 0.1s;


}



.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}


.stars span{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
    z-index: 5;
}
.stars span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#d7c70c,transparent);
    z-index: 5;
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
.stars span:nth-child(1){
    top: 0px;
    right: 00px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
    
}
.stars span:nth-child(2){
    top: 0;
    left: 500px;
    right: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.stars span:nth-child(3){
    top: 400px;
    left: 500px;
    right: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}


@keyframes float1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }

}
@keyframes float2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }

}

@keyframes float3 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }

}

@keyframes float4{
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }

}

@keyframes float5{
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(2.5px);
    }
    100% {
        transform: translateX(0);
    }

}

@keyframes floattop {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-150px);
    }

    70% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateY(0);
    }

}

@keyframes floatleft {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
        transform: translateX(-250px);
    }
    100% {
        transform: translateY(-50);
        transform: translateX(0px);
    }

}

@keyframes floatright {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(-50);
    }

}
